<ng-container *ngIf="(initialLoad$ | async) === true" class="l-body">
  <mat-card>
    <mat-card-header class="flex-space-between">
      <mat-card-title>Auth Tokens</mat-card-title>
      <a
        mat-flat-button
        [routerLink]="['/profile', 'auth-tokens', 'new']"
        color="primary"
      >
        Create New Token
      </a>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="content">
      <p>
        Authentication tokens give you access to the GlitchTip API. You can
        create these tokens as authentication to gain specific access around the
        app.
      </p>
    </mat-card-content></mat-card
  >
  <mat-card>
    <mat-card-header>
      <mat-card-title>Your Tokens</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <ng-container *ngIf="(authTokens$ | async)?.length; else emptyState">
        <div
          class="content-wrapper"
          *ngFor="let authToken of authTokens$ | async; let i = index"
        >
          <h3 class="label">{{ authToken.label }}</h3>
          <div class="loading-wrapper">
            <mat-form-field class="token">
              <input
                class="background"
                readonly
                matInput
                [value]="authToken.token"
              />
              <button
                mat-icon-button
                [cdkCopyToClipboard]="authToken.token"
                (cdkCopyToClipboardCopied)="copied(authToken.id)"
                matTooltip="Copy key to clipboard"
                matSuffix
              >
                <mat-icon
                  [class.token-copied]="this.copiedTokenId === authToken.id"
                >
                  {{
                    this.copiedTokenId === authToken.id
                      ? "check_circle"
                      : "file_copy"
                  }}
                </mat-icon>
              </button>
            </mat-form-field>

            <app-loading-button
              (click)="deleteAuthToken(authToken.id)"
              [loading]="authToken.id === (deleteLoading$ | async)"
              buttonText="Delete"
              buttonStyle="stroked"
            ></app-loading-button>
          </div>
          <p class="scopes">
            <span class="mat-body-strong">Scopes</span>
            <span class="scopes__list-wrapper">
              <span *ngFor="let scope of authToken.scopes; let i = index">{{
                scope
              }}</span></span
            >
          </p>
          <mat-divider
            *ngIf="(authTokens$ | async)?.length !== i + 1"
          ></mat-divider></div
      ></ng-container>
      <ng-template #emptyState
        ><p class="empty-state">
          Once you create a token, it will show up here.
        </p></ng-template
      >
    </mat-card-content>
  </mat-card>
</ng-container>
