<section class="l-body">
  <mat-card>
    <mat-card-title>Notifications</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="default-settings">
        <div class="default-alerts">
          <p class="mat-body-strong">Send me project alerts</p>
          <p class="mat-body-1">
            This is the default setting for project alerts. You can change the
            setting per project below.
          </p>
        </div>
        <div class="button-group">
          <div class="button-and-loading">
            <mat-spinner
              *ngIf="(subscribeByDefaultLoading$ | async) === true"
              diameter="24"
            ></mat-spinner>
            <mat-button-toggle-group
              name="defaultNotifications"
              aria-label="Default Notifications"
            >
              <mat-button-toggle
                value="onDefault"
                (change)="toggleDefaultNotifications(true)"
                [class.underline]="(subscribeByDefault$ | async) === true"
                [checked]="(subscribeByDefault$ | async) === true"
                >On</mat-button-toggle
              >
              <mat-button-toggle
                value="offDefault"
                (change)="toggleDefaultNotifications(false)"
                [class.underline]="(subscribeByDefault$ | async) === false"
                [checked]="(subscribeByDefault$ | async) === false"
                >Off</mat-button-toggle
              >
            </mat-button-toggle-group>
          </div>
          <mat-error
            *ngIf="subscribeByDefaultError$ | async as error"
            class="mat-small"
            >{{ error }}</mat-error
          >
        </div>
      </div>
      <button
        *ngIf="(projectViewExpanded$ | async) === false"
        mat-flat-button
        color="primary"
        class="expand-button"
        (click)="toggleProjectView()"
      >
        <span>Edit By Project</span><mat-icon>keyboard_arrow_down</mat-icon>
      </button>

      <ng-container *ngIf="projectViewExpanded$ | async">
        <div *ngFor="let projects of groupedProjects$ | async | keyvalue">
          <div class="org-name mat-h3 mat-body-strong">
            {{ projects.value[0].organization.name }}
          </div>
          <div class="border">
            <div
              class="mat-list-item"
              *ngFor="let project of projects.value; let i = index"
            >
              <div class="project">
                <a
                  [routerLink]="[
                    '/settings',
                    project.organization.slug,
                    'projects',
                    project.slug
                  ]"
                  >{{ project.name }}</a
                >
              </div>
              <div class="button-group">
                <div class="button-and-loading">
                  <mat-spinner
                    *ngIf="(projectAlertLoading$ | async) === project.id"
                    diameter="24"
                  ></mat-spinner>
                  <mat-button-toggle-group
                    aria-label="`Notifications for ${project}`"
                  >
                    <mat-button-toggle
                      (change)="updateUserAlertSettings(project.id, 1)"
                      [class.underline]="project.alertStatus === 1"
                      [checked]="project.alertStatus === 1"
                      >On</mat-button-toggle
                    >
                    <mat-button-toggle
                      (change)="updateUserAlertSettings(project.id, 0)"
                      [class.underline]="project.alertStatus === 0"
                      [checked]="project.alertStatus === 0"
                      >Off</mat-button-toggle
                    >
                    <mat-button-toggle
                      (change)="updateUserAlertSettings(project.id, -1)"
                      [class.underline]="project.alertStatus === -1"
                      [checked]="project.alertStatus === -1"
                      >Default
                      <span
                        >({{
                          (subscribeByDefault$ | async) === true ? "On" : "Off"
                        }})</span
                      ></mat-button-toggle
                    >
                  </mat-button-toggle-group>
                </div>
                <mat-error
                  *ngIf="(projectAlertsError$ | async)?.id === project.id"
                  class="mat-small"
                  >{{ (projectAlertsError$ | async)?.error }}</mat-error
                >
              </div>
            </div>
          </div>
        </div></ng-container
      >

      <button
        *ngIf="(projectViewExpanded$ | async) === true"
        mat-flat-button
        color="primary"
        class="expand-button"
        (click)="toggleProjectView()"
      >
        <span>Hide Projects</span><mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</section>
