mat-card {
  margin-top: 24px;
  margin-bottom: 24px;

  mat-card-content {
    padding-top: 16px;
  }
}

mat-list {
  width: 100%;
  padding-top: 0;
}

mat-error {
  display: block;
}

.center-text {
  text-align: center;
}

.mat-list-item {
  display: flex;
  justify-content: space-between;

  &:nth-last-child(n + 2) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  ::ng-deep .mat-list-item-content {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

app-loading-button ::ng-deep button {
  width: 110px;
}
