@import "../../../../../../assets/styles/variables";

.wrapper {
  padding: 8px;
  border: 1px solid mat-color($mat-gray, 300);
  border-radius: 4px;
  overflow-x: auto;
}

.spacer {
  margin-left: 8px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.indent {
  margin-left: 24px;
  padding-left: 24px;
  text-indent: -24px;
}

div {
  font-family: $font-mono;
}
