<section *ngIf="projects$ | async as projects" id="project-picker">
  <mat-accordion displayMode="flat" [hideToggle]="projects.length < 2">
    <mat-expansion-panel
      #expansionPanel
      class="mat-elevation-z1"
      (afterExpand)="focusPanel()"
      [disabled]="projects.length < 2"
    >
      <mat-expansion-panel-header
        [class.disabled-looking]="projects.length === 0"
      >
        <mat-panel-title>
          {{ selectedProjectsString$ | async }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input
          #filterInput
          type="text"
          placeholder="Filter projects"
          aria-label="Filter projects"
          matInput
          [formControl]="filterProjectInput"
        />
      </mat-form-field>

      <mat-list>
        <mat-list-item
          class="list-item"
          *ngFor="let project of filteredProjects$ | async"
        >
          <button
            id="picker-button-{{ project.id }}"
            class="picker-button mat-body-1"
            [class.disabled]="!project.isMember"
            (click)="selectProjectAndClose(project.id)"
          >
            {{ project.name }}
          </button>
          <mat-checkbox
            (change)="toggleProject(project.id)"
            [checked]="isSelected(project.id)"
            [disabled]="!project.isMember"
          >
          </mat-checkbox>
        </mat-list-item>
      </mat-list>

      <div class="button-group">
        <button
          *ngIf="someProjectsAreSelected$ | async"
          mat-stroked-button
          (click)="navigate(null); expansionPanel.close()"
        >
          View All
        </button>
        <button mat-flat-button (click)="closePanel()" color="primary">
          <ng-container
            *ngIf="(selectedAndAppliedIdsAreEqual$ | async) === false"
          >
            Apply &
          </ng-container>
          Close
        </button>
      </div>
    </mat-expansion-panel>
    <button
      mat-button
      class="reset-button"
      *ngIf="(appliedProjectIds$ | async)?.length"
      (click)="resetProjects()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-accordion>
</section>
<a
  *ngIf="activeOrgSlug$ | async as activeOrgSlug"
  mat-stroked-button
  color="primary"
  class="add-button"
  [routerLink]="['/settings', activeOrgSlug, 'projects', 'new']"
>
  <mat-icon>add</mat-icon>
  Add Project
</a>
