@import "../../../../assets/styles/variables";

mat-card {
  margin-top: 20px;
  margin-bottom: 20px;

  mat-card-content {
    padding-top: 16px;
  }

  .note-padding {
    padding-top: 0;
  }
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;

  @media (max-width: $tablet - 1) {
    flex-direction: column;
    align-items: flex-start;
  }

  mat-form-field {
    width: 100%;
    margin-right: 40px;

    @media (max-width: $tablet - 1) {
      margin-right: 0;
    }
  }
}

.remove-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet - 1) {
    flex-direction: column;
    align-items: flex-start;
  }

  p {
    padding-right: 16px;
  }
}

.server-error {
  display: block;
}

.dsn-copied {
  color: $amaranth;
}

app-loading-button ::ng-deep button {
  width: 140px;
}
