<section class="l-body" *ngIf="activeProject$ | async as project">
  <header class="page-header">
    <h1 class="mat-display-1">Settings for {{ project.name }}</h1>
  </header>
  <mat-card *ngIf="project.isMember === false"
    ><mat-card-content class="note-padding">
      <p class="mat-body-strong">Note</p>
      <p>
        Because you are an admin for {{ project.organization.name }}, you have
        access to all of its projects. However, if you want to view issues for
        {{ project.name }}, you must be a member of one of its teams.
      </p></mat-card-content
    ></mat-card
  >
  <mat-card>
    <mat-card-title>Update Project</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-error class="server-error" *ngIf="updateNameError">{{
        updateNameError
      }}</mat-error>
      <form [formGroup]="nameForm" (ngSubmit)="updateName()">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" [value]="project.name" />
          <mat-error>
            <span *ngIf="name?.errors?.required"
              >Enter a project name</span
            ></mat-error
          >
        </mat-form-field>
        <app-loading-button
          [disabled]="name?.value === project.name"
          buttonText="Update Name"
          id="update-project-name"
        >
        </app-loading-button>
      </form>
      <mat-error class="server-error" *ngIf="updatePlatformError">
        {{ updatePlatformError }}
      </mat-error>
      <form
        [formGroup]="platformForm"
        (ngSubmit)="updatePlatform(project.name)"
      >
        <app-platform-picker
          formControlName="platform"
          template="dropdown"
        ></app-platform-picker>
        <app-loading-button
          [disabled]="platform?.value === project.platform"
          buttonText="Update Platform"
          id="update-project-platform"
        >
        </app-loading-button>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card *ngFor="let projectKey of (projectKeys$ | async) || []">
    <mat-card-title>DSN</mat-card-title>
    <p class="mat-caption">
      Data Source Name: The code that connects your project to GlitchTip.
      Install a library into your project, then configure it with the DSN so
      that it knows how to send errors to your GlitchTip account.
    </p>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input
          class="background"
          readonly
          matInput
          [value]="projectKey.dsn.public"
        />
        <button
          mat-icon-button
          [cdkCopyToClipboard]="projectKey.dsn.public"
          (cdkCopyToClipboardCopied)="copied()"
          matTooltip="Copy key to clipboard"
          matSuffix
        >
          <mat-icon [class.dsn-copied]="this.copiedDsn">
            {{ this.copiedDsn ? "check_circle" : "file_copy" }}
          </mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <app-project-alerts></app-project-alerts>

  <mat-card>
    <mat-card-title>Delete Project</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="remove-content">
      <div>
        <p>
          By deleting your project, you will lose all associated data. This
          cannot be undone.
        </p>
        <mat-error *ngIf="deleteError">{{ deleteError }}</mat-error>
      </div>
      <app-loading-button
        buttonText="Delete Project"
        [loading]="deleteLoading"
        (click)="deleteProject()"
        id="delete-project"
      >
      </app-loading-button>
    </mat-card-content>
  </mat-card>
</section>
