@import "../../../assets/styles/variables";

.empty-states {
  padding: 1.5em 0 0.5em;
}

.not-on-team {
  background: mat-color($amaranth-palette, 50);
  padding: 10px;
  margin-top: 0;
  margin-bottom: 20px;
}

markdown {
  display: block;
  margin-bottom: 40px;
}

.dsn {
  .mat-display-1 {
    margin: 30px 0 10px;
  }
  .mat-body-1 {
    margin: 0;
  }

  .dsn-input {
    width: 60%;
    margin-bottom: 30px;
  }
}
