@import "../../assets/styles/variables";

mat-form-field,
button,
mat-checkbox {
  width: 100%;
}

mat-card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    min-width: 480px;
  }

  @media screen and (max-width: $tablet - 1) {
    width: 100%;
    max-width: 480px;
  }
}

form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin-top: 20px;
}
