@import "../../../../assets/styles/variables";

.mat-card {
  margin: 24px 8px 8px 8px;

  mat-card-header {
    &::ng-deep .mat-card-header-text {
      margin-left: 0;
    }
  }

  mat-card-content {
    padding-top: 16px;
  }
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;

  @media (max-width: $tablet - 1) {
    flex-direction: column;
    align-items: flex-start;
  }

  mat-form-field {
    width: 100%;
    margin-right: 40px;

    @media (max-width: $tablet - 1) {
      margin-right: 0;
    }
  }
}

.remove-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet - 1) {
    flex-direction: column;
    align-items: flex-start;
  }

  p {
    padding-right: 16px;
  }
}

.server-error {
  display: block;
}

.center-text {
  text-align: center;
}

app-loading-button ::ng-deep button {
  width: 120px;
}
