<section *ngIf="eventEntryRequest$ | async as request" class="mat-typography">
  <mat-divider></mat-divider>
  <section class="location">
    <span class="method mat-body-strong">{{
      request?.method ? request?.method : "GET"
    }}</span>
    <a
      [matTooltip]="request.url"
      matTooltipPosition="above"
      color="primary"
      target="_blank"
      [href]="request?.url"
      >{{ request?.path }}</a
    >
    <span class="domain">{{ request?.domainName }}</span>
  </section>
  <section>
    <div *ngIf="request.data">
      <mat-divider></mat-divider>
      <h3>Body</h3>
      <dl>
        <app-entry-data
          *ngFor="let requestData of request.data | keyvalue"
          [key]="requestData.key"
          [value]="requestData.value"
        ></app-entry-data>
      </dl>
    </div>
    <section *ngIf="request?.headers">
      <h3>Headers</h3>
      <dl>
        <app-entry-data
          *ngFor="let header of request?.headers"
          [key]="header[0]"
          [value]="header[1]"
        ></app-entry-data>
      </dl>
    </section>
    <section *ngIf="request?.env">
      <mat-divider></mat-divider>
      <h3>Environment</h3>
      <dl>
        <app-entry-data
          *ngFor="let env of request.env | keyvalue"
          [key]="env.key"
          [value]="env.value"
        ></app-entry-data>
      </dl>
    </section>
  </section>
</section>
