@import "../../../assets/styles/variables";

$iconWidth: 56px;

mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 240px;
}

.logo-toolbar {
  background-color: transparent;

  .main-logo {
    width: 115px;
    cursor: pointer;
  }
}

.sub-items {
  display: none !important;

  @media (max-width: $tablet - 1) {
    display: block !important;
    margin-left: 24px;
    max-width: calc(100% - 24px);
    color: mat-color($mat-gray, 600);
  }
}

mat-sidenav-content {
  mat-toolbar {
    display: none;
    padding-left: $iconWidth;
    cursor: pointer;
    margin-bottom: 32px;

    @media (max-width: $tablet - 1) {
      display: flex;
    }

    .sidenav-toggle {
      padding: 0;
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      min-width: $iconWidth;
    }

    mat-icon {
      font-size: 25px;
      height: $iconWidth;
      width: $iconWidth;
      line-height: $iconWidth;
      color: white;
    }

    .active-org {
      margin-left: 8px;
    }
  }
}

.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 40px;
  line-height: 1.11111;
  font-size: 18px;
  font-weight: 600;
}

.down-caret {
  transform: scale(1, 0.5);
  margin-left: 8px;
}

.org-details-divider {
  margin: 10px 0;
}

.org-dropdown-list-item ::ng-deep .mat-list-item-content {
  justify-content: space-between;
}

.mat-nav-list > button.mat-menu-item,
.no-org-create {
  font-weight: 500;
}

.mat-list-item-disabled {
  background-color: white;
  color: mat-color($mat-gray, 500) !important;
}
