<mat-card class="auth-form">
  <h1>Set New Password</h1>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" id="change-password-form">
      <div class="server-error">
        <mat-error *ngIf="setNewPasswordError$ | async as error">{{
          error
        }}</mat-error>
      </div>
      <mat-form-field class="full-width">
        <input
          matInput
          type="password"
          placeholder="New Password"
          formControlName="new_password1"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="new_password1?.errors && new_password1?.errors?.required"
          >
            Your password should be at least 8 characters long
          </span>
          <span *ngIf="new_password1?.errors?.required">
            Type in your new password
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          type="password"
          placeholder="Confirm New Password"
          formControlName="new_password2"
          appInputMatcher="new_password1"
          [errorStateMatcher]="matcher"
        />

        <mat-error>
          <span *ngIf="new_password2?.errors?.required">
            Type in your new password
          </span>
          <span *ngIf="new_password2?.errors?.notEqual">
            Your passwords don't match
          </span>
        </mat-error>
      </mat-form-field>
      <app-loading-button
        class="full-width"
        buttonText="Change Password"
        [loading]="(setnewPasswordLoading$ | async) === true"
        [fullWidth]="true"
      >
        Set New Password
      </app-loading-button>
    </form>
    <div class="sign-up">
      <p class="mat-body-1">
        <a routerLink="/login">Log in</a>
      </p>
      <p class="mat-body-1">
        <a routerLink="/register">Register</a>
      </p>
    </div>
  </mat-card-content>
</mat-card>
