@import "../../../../../assets/styles/variables";

.preferences {
  margin-top: 44px;
  margin-bottom: 0;
}

.loading {
  height: 180px;
}

.default-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.default-alerts {
  margin-right: 16px;
}

.add-padding {
  padding-bottom: 24px;
}

.button-and-loading {
  display: flex;
  align-items: center;

  mat-spinner {
    margin-right: 16px;
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.server-error {
  height: 21px;
}

form {
  padding-bottom: 8px;
  .mat-form-field {
    width: 88px;
  }
  app-loading-button {
    margin-bottom: 8px;
  }
}

// Move to global styles if we decide to implement in other places in app
.tooltip {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: mat-color($mat-gray, 500);
  cursor: help;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-form-field {
  margin-left: 12px;
  margin-right: 12px;
}
.notifications-wrapper {
  margin-top: 32px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notifications-text {
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mat-form-field ::ng-deep .mat-form-field-subscript-wrapper {
  width: 150px;
}

.underline {
  &::ng-deep .mat-button-toggle-label-content {
    text-decoration: underline;
  }
}

// Same as project-detail.component.scss
app-loading-button ::ng-deep button {
  width: 140px;
}
