<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<svg
  aria-hidden="true"
  style="position: absolute; width: 0; height: 0; overflow: hidden"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <defs>
    <symbol id="google" viewBox="0 0 46 46">
      <path
        id="Shape"
        style="fill: #4285f4"
        d="M45,23.5 c0-1.6-0.1-3.2-0.4-4.7H23.1v8.8h12.3c-0.5,2.9-2.1,5.3-4.6,6.9v5.7h7.4C42.5,36.3,45,30.5,45,23.5L45,23.5z"
      ></path>
      <path
        id="Shape_1_"
        style="fill: #34a853"
        d="M23.1,45.8 c6.2,0,11.3-2,15.1-5.5l-7.4-5.7c-2,1.4-4.7,2.2-7.7,2.2c-5.9,0-11-4-12.8-9.4H2.7v5.9C6.4,40.7,14.1,45.8,23.1,45.8L23.1,45.8z"
      ></path>
      <path
        id="Shape_2_"
        style="fill: #fbbc05"
        d="M10.3,27.3 C9.8,26,9.6,24.5,9.6,23s0.3-3,0.7-4.3v-5.9H2.7C1.1,15.8,0.3,19.3,0.3,23s0.9,7.2,2.4,10.2L10.3,27.3L10.3,27.3z"
      ></path>
      <path
        id="Shape_3_"
        style="fill: #ea4335"
        d="M23.1,9.3 c3.4,0,6.4,1.2,8.7,3.4l6.5-6.5c-4-3.7-9.1-5.9-15.3-5.9c-8.9,0-16.6,5.1-20.4,12.6l7.6,5.9C12.1,13.3,17.1,9.3,23.1,9.3L23.1,9.3z"
      ></path>
    </symbol>
    <symbol id="gitlab" viewBox="0 0 40 36">
      <path style="fill: #e24329" d="M20,35.9l7.2-22H12.8L20,35.9L20,35.9z" />
      <path style="fill: #fc6d26" d="M20,35.9l-7.2-22h-10L20,35.9L20,35.9z" />
      <path
        style="fill: #fca326"
        d="M2.8,13.9l-2.2,6.7c-0.2,0.6,0,1.3,0.5,1.7L20,35.9L2.8,13.9L2.8,13.9z"
      />
      <path
        style="fill: #e24329"
        d="M2.8,13.9h10L8.5,0.6c-0.2-0.7-1.2-0.7-1.4,0L2.8,13.9L2.8,13.9z"
      />
      <path style="fill: #fc6d26" d="M20,35.9l7.2-22h10L20,35.9L20,35.9z" />
      <path
        style="fill: #fca326"
        d="M37.2,13.9l2.2,6.7c0.2,0.6,0,1.3-0.5,1.7L20,35.9L37.2,13.9L37.2,13.9z"
      />
      <path
        style="fill: #e24329"
        d="M37.2,13.9h-10l4.3-13.3c0.2-0.7,1.2-0.7,1.4,0L37.2,13.9L37.2,13.9z"
      />
    </symbol>
    <symbol id="microsoft" viewBox="0 0 220 220">
      <path
        style="fill: #f45326"
        d="M 104.8675,104.8675 0,104.8675 0,0 l 104.8675,0 0,104.8675 z"
      />
      <path
        style="fill: #82bc06"
        d="m 220.65375,104.8675 -104.86625,0 0,-104.8675 104.86625,0 0,104.8675 z"
      />
      <path
        style="fill: #05a6f1"
        d="m 104.865,220.695 -104.865,0 0,-104.8675 104.865,0 0,104.8675 z"
      />
      <path
        style="fill: #ffbb08"
        d="m 220.65375,220.695 -104.86625,0 0,-104.8675 104.86625,0 0,104.8675 z"
      />
    </symbol>
    <symbol id="github" viewBox="0 0 1792 1792">
      <path
        d="M896 128q209 0 385.5 103t279.5 279.5 103 385.5q0 251-146.5 451.5t-378.5 277.5q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-119-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-85-13.5q-45 113-8 204-79 87-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-39 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103zm-477 1103q3-7-7-12-10-3-13 2-3 7 7 12 9 6 13-2zm31 34q7-5-2-16-10-9-16-3-7 5 2 16 10 10 16 3zm30 45q9-7 0-19-8-13-17-6-9 5 0 18t17 7zm42 42q8-8-4-19-12-12-20-3-9 8 4 19 12 12 20 3zm57 25q3-11-13-16-15-4-19 7t13 15q15 6 19-6zm63 5q0-13-17-11-16 0-16 11 0 13 17 11 16 0 16-11zm58-10q-2-11-18-9-16 3-14 15t18 8 14-14z"
      />
    </symbol>
  </defs>
</svg>
