<section class="l-body l-body--full-width mat-elevation-z0">
  <header class="page-header">
    <h1 class="mat-display-1">Issues</h1>
  </header>

  <app-header-nav></app-header-nav>

  <div *ngIf="issues$ | async as issues" class="wrapper">
    <table mat-table [dataSource]="issues$" class="mat-elevation-z2">
      <ng-container matColumnDef="actions">
        <th
          mat-header-cell
          [attr.colspan]="displayedColumns.length"
          *matHeaderCellDef
          class="resolved-row"
          class="table-header"
        >
          <div class="action-group">
            <div class="button-group">
              <button
                mat-flat-button
                color="primary"
                (click)="bulkMarkResolved()"
                [disabled]="(thereAreSelectedIssues$ | async) === false"
              >
                Mark as resolved
              </button>
              <button
                mat-stroked-button
                (click)="bulkMarkUnresolved()"
                [disabled]="(thereAreSelectedIssues$ | async) === false"
              >
                Reopen
              </button>
              <button
                mat-stroked-button
                (click)="bulkMarkIgnored()"
                [disabled]="(thereAreSelectedIssues$ | async) === false"
              >
                Ignore
              </button>
            </div>

            <form
              class="date-form"
              [formGroup]="dateForm"
              (ngSubmit)="onDateFormSubmit()"
            >
              <mat-form-field>
                <mat-label>Start Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="startPicker"
                  formControlName="startDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="startPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <mat-label>End Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="endPicker"
                  formControlName="endDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="endPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
              </mat-form-field>
              <button
                type="submit"
                mat-flat-button
                color="primary"
                [disabled]="
                  !dateForm.value.startDate ||
                  !dateForm.value.endDate ||
                  dateForm.pristine
                "
              >
                Filter
              </button>
              <button
                type="button"
                (click)="dateFormReset()"
                mat-stroked-button
                color="primary"
                [disabled]="
                  !dateForm.value.startDate && !dateForm.value.endDate
                "
              >
                Clear
              </button>
            </form>
            <form
              [formGroup]="form"
              (ngSubmit)="onSubmit()"
              class="search-form"
            >
              <mat-form-field>
                <input
                  matInput
                  type="search"
                  placeholder="Search"
                  formControlName="query"
                />
              </mat-form-field>
            </form>
          </div>
        </th>
      </ng-container>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="toggleSelectAll()"
            [checked]="(areAllSelected$ | async)!"
          >
          </mat-checkbox>
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          [class.resolved]="row.status === 'resolved'"
          [class.ignored]="row.status === 'ignored'"
          class="checkbox-cell"
        >
          <mat-checkbox
            (change)="toggleCheck(row.id)"
            [checked]="row.isSelected"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Issue</th>
        <td
          mat-cell
          *matCellDef="let element"
          [class.resolved]="element.status === 'resolved'"
          [class.ignored]="element.status === 'ignored'"
          class="title-cell"
        >
          <mat-icon
            *ngIf="element.status === 'ignored'"
            inline="true"
            class="mute-icon"
          >
            volume_off
          </mat-icon>
          <a [routerLink]="element.id">{{ element.title }}</a>
          <div class="other-cell-info mat-caption">
            {{ element.count | i18nPlural: eventCountPluralMapping }}
          </div>
          <div>
            <span
              class="mat-caption"
              *ngIf="(appliedProjectCount$ | async) !== 1"
            >
              {{ element.projectSlug }}
            </span>
            <span class="mat-caption" *ngIf="true">
              <ng-container *ngIf="(appliedProjectCount$ | async) !== 1">
                &mdash;
              </ng-container>
              <time
                [dateTime]="element.firstSeen"
                [title]="element.firstSeen | date: 'medium'"
              >
                {{ element.firstSeen | date }}
              </time>
              <time
                *ngIf="element.firstSeen !== element.lastSeen"
                [dateTime]="element.lastSeen"
                [title]="element.lastSeen | date: 'medium'"
              >
                / {{ element.lastSeen | date }}
              </time>
            </span>
            <span
              class="mat-caption"
              *ngIf="element.type && element.type === 'csp'"
              ><span
                *ngIf="(appliedProjectCount$ | async) !== 1 && element.type"
              >
                &mdash; </span
              >{{ element.type }} report</span
            >
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="events">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="status-header-cell"
        >
          Events
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [class.resolved]="element.status === 'resolved'"
          [class.ignored]="element.status === 'ignored'"
          class="event-cell"
        >
          <p>{{ element.count }}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="pagination">
        <td
          mat-footer-cell
          *matFooterCellDef
          [attr.colspan]="displayedColumns.length"
          class="footer"
        >
          <ng-container *ngIf="(loading$ | async) === false">
            <button
              [routerLink]="[]"
              [queryParams]="(previousParams$ | async) || {}"
              queryParamsHandling="merge"
              mat-button
              [disabled]="(hasPreviousPage$ | async) === false"
            >
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button
              [routerLink]="[]"
              [queryParams]="(nextParams$ | async) || {}"
              queryParamsHandling="merge"
              mat-button
              [disabled]="(hasNextPage$ | async) === false"
            >
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </ng-container>
          <div *ngIf="loading$ | async" class="spinner-container">
            <mat-progress-spinner
              [diameter]="33"
              color="primary"
              mode="indeterminate"
            ></mat-progress-spinner>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['actions']"></tr>
      <tr
        mat-header-row
        class="overlay"
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          <app-issue-zero-states></app-issue-zero-states>
        </td>
      </tr>
      <tr mat-footer-row *matFooterRowDef="['pagination']"></tr>
    </table>
  </div>
</section>
