@import "../../../assets/styles/variables";

$iconWidth: 56px;

app-header-nav {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

table {
  width: 100%;
  margin-bottom: 40px;
}

.table-actions {
  display: flex;
  justify-content: space-between;
}

.action-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: $tablet - 1) {
    flex-direction: column-reverse;
  }

  .date-form,
  .search-form {
    flex: 1;
    max-width: 400px;

    @media screen and (max-width: $tablet - 1) {
      padding-bottom: 5px;
    }

    mat-form-field {
      width: 100%;
    }
  }

  .button-group,
  .date-form {
    padding-right: 20px;

    @media screen and (max-width: $tablet - 1) {
      padding-right: 0;
    }
  }

  .button-group {
    @media screen and (max-width: $tablet - 1) {
      padding-bottom: 15px;
    }

    > button {
      &:not(:last-of-type) {
        margin-right: 10px;
      }
      @media screen and (max-width: $tablet - 1) {
        margin-top: 10px;
      }
    }
  }

  .search-form {
    max-width: 350px;
  }

  form.date-form {
    display: flex;
    align-items: center;

    @media screen and (max-width: $small - 1) {
      flex-wrap: wrap;
      margin-bottom: 10px;
    }

    > mat-form-field {
      width: 100px;
      margin-right: 15px;
    }

    button {
      margin-top: -14px;
      margin-right: 5px;

      @media screen and (max-width: $small - 1) {
        margin-top: 0;
      }
    }
  }
}

.table-header {
  padding: 20px 0 8px;
}

.mat-column-title {
  max-width: 500px;
  overflow-wrap: anywhere;
  hyphens: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  text-align: right;

  mat-icon {
    font-size: 35px;
    height: $iconWidth;
    width: $iconWidth;
    line-height: $iconWidth;
  }
}

.resolved {
  background: mat-color($mat-gray, 100);
  > a {
    text-decoration: line-through;
  }
}

.ignored {
  background: mat-color($mat-gray, 100);
}

.mute-icon {
  vertical-align: middle;
  margin-right: 5px;
}

.spinner-container {
  mat-progress-spinner {
    margin: 30px auto;
  }
}

mat-card {
  margin-top: 24px;
  margin-bottom: 24px;
}

.checkbox-cell {
  width: 70px;

  @media screen and (max-width: $tablet - 1) {
    width: 55px;
  }
}

@media screen and (max-width: $tablet - 1) {
  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 20px;
  }
}

.status-cell {
  width: 120px;

  @media screen and (max-width: $tablet - 1) {
    display: none;
  }
}

.status-header-cell,
.event-header-cell {
  @media screen and (max-width: $tablet - 1) {
    display: none;
  }
}

.event-cell {
  width: 80px;

  @media screen and (max-width: $tablet - 1) {
    display: none;
  }
}

.title-cell {
  padding-right: 10px;
}

.other-cell-info {
  margin: 0 0 -4px;
  font-weight: 500;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
