.mat-list-base .mat-list-item {
  height: 52px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  ::ng-deep .mat-list-item-content {
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
  }
}

mat-chip-list {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  pointer-events: none;
  user-select: none;
}

mat-chip {
  font-size: 0.8em;
  padding: 0 10px;
  min-height: 24px;
}

.delete-spinner-container {
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.add-email-form-ui {
  display: flex;
  padding-top: 7px;

  .mat-form-field {
    flex: 1;
  }

  ::ng-deep .mat-form-field-wrapper {
    max-width: 400px;
  }

  app-loading-button {
    margin-top: 12px;
    margin-left: 15px;
  }
}
