<section class="l-body">
  <mat-card
    *ngIf="
      (projects$ | async)?.length === 0 &&
      (activeOrganizationDetail$ | async) === undefined
    "
  >
    <mat-card-content>
      <p class="mat-body-1">
        In order to use GlitchTip, you'll need to create an organization.
      </p>
      <a
        mat-flat-button
        color="primary"
        [routerLink]="['/organizations', 'new']"
      >
        Create New Organization
      </a>
    </mat-card-content>
  </mat-card>

  <div *ngIf="activeOrganizationDetail$ | async as orgDetails">
    <header class="page-header">
      <h2 class="mat-display-1">Projects</h2>
      <a
        *ngIf="activeOrganizationDetail$ | async as orgDetails"
        mat-flat-button
        color="primary"
        [routerLink]="['/settings', orgDetails?.slug, 'projects', 'new']"
        >Create New Project</a
      >
    </header>

    <div *ngIf="activeOrganizationProjects$ | async as projects">
      <app-empty-projects *ngIf="projects.length === 0"></app-empty-projects>
    </div>

    <div *ngIf="activeOrganizationProjects$">
      <div class="card-wrapper">
        <ng-container
          *ngFor="let project of activeOrganizationProjects$ | async"
        >
          <app-project-card
            [cardLink]="['/organizations', project.organization.slug, 'issues']"
            [cardLinkQueryParams]="{ project: project.id }"
            [title]="project.name"
            [descriptionList]="[
              { key: 'organization', value: project.organization.name },
              { key: 'date created', value: (project.dateCreated | date)! }
            ]"
            [isMember]="project.isMember"
            [primaryButton]="{
              text: 'Issues',
              icon: 'warning',
              query: { project: project.id },
              link: ['/organizations', project.organization.slug, 'issues']
            }"
            [secondaryButton]="{
              text: 'Settings',
              icon: 'settings',
              link: [
                '/settings',
                project.organization.slug,
                'projects',
                project.slug
              ]
            }"
          ></app-project-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>
